.Body
{
    width: 75%;
    min-height: 100%;
    box-shadow: 6px 6px 0px black;
    background-color:white;
    display: inline-block;
    text-align: left;
    position: relative;
}

p
{
    padding-left : 10px;
    padding-right : 10px;
}

.bold
{
    font-weight: bold;
}

.italic
{
    font-style: italic;
}
.red 
{
    color:red;
}
#nextButton
{
    
    display: block;
    margin: 1% auto;
    text-align: center;
}

table
{
    border: 1px solid black;
    border-collapse: collapse;
    
    width: 100%;
}

td, th
{
    padding-right: 6%;
    padding-left :1%;
    border: 1px solid black;
    border-collapse: collapse;

}

